@import './tailwind.css';

@font-face {
  font-family: 'Unbounded';
  src: url('/fonts/unbounded-variable.woff2') format('woff2');
}

body {
  font-family: 'Unbounded', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  word-wrap: break-word;
}
