@import 'tailwindcss';

@theme {
  /* Colors. */
  --color-dark: #1d2328;
  --color-blue-dark-mode: #1b2126;
  --color-blue-border-dark-mode: #262c31;

  --color-light: #efefef;
  --color-grey-light-mode: #e6e6e6;
  --color-grey-border-light-mode: #d9d9d9;

  --color-primary: #bc5431;
  --color-green: #6ade6b;
  --color-pink: #f91880;

  /* Desktop font sizes. */
  --text-title-desktop-1: 3.375rem;
  --text-title-desktop-3: 2.313rem;
  --text-title-desktop-6: 1.375rem;
  --text-body-desktop: 1.125rem;

  /* Mobile font sizes. */
  --text-title-mobile-1: 1.925rem;
  --text-title-mobile-3: 1.425rem;
  --text-title-mobile-6: 0.975rem;
  --text-body-mobile: 0.875rem;

  /* Font weights for mobile and desktop. */
  --font-weight-title-desktop: 700; /* Bold. */
  --font-weight-title-mobile: 700; /* Bold. */
  --font-weight-body-desktop: 500; /* Medium. */
  --font-weight-body-mobile: 500; /* Regular. */

  /* Width container. */
  --width-container: 60rem;

  /* Transition. */
  --animate-bouncing: bouncing 1s cubic-bezier(1, 0.36, 0.59, 1) 0s infinite
    alternate;
  @keyframes bouncing {
    0% {
      transform: translateY(-1.25rem);
    }
    100% {
      transform: translateY(1.25rem);
    }
  }
}
